*{margin: 0; padding: 0;; box-sizing: border-box;}
li{list-style: none;}
a{text-decoration: none;}
body{font-family: 'Oswald', Helvetica, sans-serif;}

.logo{
  position: relative;
  width: 150px;
  height: 70px;
}

.container{
  max-width: 1140px;
  margin: 0 auto;
}

header{
  background: #000;
  padding: 5px 0;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, .3);
}

.navbar, .menu ul, .main .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu ul li{
  padding: 20px;
}

.menu ul li a{
  text-transform: uppercase;
  color: #d6d6d6;
  letter-spacing: .1rem;
  transition: .8s;
  padding-bottom: 10px;
}

.menu ul li a:hover{
  color: #eec643;
}

.active{
  border-bottom: 2px solid #eec643;
}

.who_i_am h1{
  font-size: 4em;
  text-transform: uppercase;
}

.who_i_am span{
  background: #eec643;
  font-weight: 500;
  font-size: 1.5em;
  padding: 5px 10px;
  text-transform: uppercase;
  border-radius: 2px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, .5);
}

.about-me{
  background: #141414;
  padding: 80px 0;
}

.title-section{
  text-align: center;
  font-size: 2.5em;
  color: #eec643;
  text-transform: uppercase;
}

.title-section::after{
  content: "";
  width: 100px;
  height: 5px;
  background: #d6d6d6;
  display: block;
  margin: 20px auto;
}

.about-me h3{
  font-size: 3em;
  color: #d6d6d6;
  margin: 20px 0;
}

.about-me p{
  font-size: 1.5em;
  line-height: 1.5em;
  letter-spacing: .1rem;
  color: #eec643;
}

.portfolio{
  padding: 80px 0;
}

.my-works{
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.portfolio img{
  width: 350px;
  margin: 10px;
}

.contact{
  background: #d6d6d6;
  padding: 80px 0;
}

.contact .title-section{
  color: #141414;
}

.contact .title-section::after{
  content: "";
  width: 100px;
  height: 5px;
  background: #eec643;
  display: block;
  margin: 20px auto;
}

.contact .container{
  display: flex;
  justify-content: space-between;
  margin: 40px auto;
}
.contact-me h2, .contact-you h2{
  margin-bottom: 30px;
}

.contact-me p{
  line-height: 2rem;
}

.contact-me i{
  margin-right: 5px;
}

.contact-you form{
  display: flex;
  flex-direction: column;
}

.contact-you form input{
  height: 40px;
  margin-bottom: 10px;
  border: none;
  padding: 0 10px;
  outline: 0;
  color: #141414;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
}

.contact-you form textarea{
  margin-bottom: 10px;
  border: none;
  padding: 10px;
  outline: 0;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
  color: #141414;
  resize: none;
}

form .btn{
  background: #141414;
  width: 100px;
  padding: 10px 20px;
  text-align: center;
  color: #eec643;
  letter-spacing: .1em;
  border-radius: 2px;
  box-shadow: 1px 2px 1px rgba(0, 0, 0, .4);
  font-weight: 400;
  transition: .3s;
}

form .btn:hover{
  background: #eec643;
  color: #141414;
}

footer{
  text-align: center;
  background: #000;
  padding: 20px 0;
  color: #eec643;
  line-height: 2em;
  letter-spacing: .1em;
}


